.vercel
.env
.env.local
.env.*.local
node_modules
.venv
Figma Design Files - Netcon/
figma_sections/
preview*.png
images/_raw/

videos/home video/*.mov
.env*
.env*.local

solutions/OneDrive_2026-08-20.zip
